<div id="<%= dom_id event %>">
  <p> Evento:
    
    <%= event.name %>
  </p>

  <p> Data:
    
    <%= event.date %>
  </p>

  <p> Local:
    
    <%= event.location %>
  </p>

  <p> Descrição:
    
    <%= event.description %>
  </p>

</div>
