<p style="color: green"><%= notice %></p>

<%= render @event %>

<div>
  <%= link_to "Editar", edit_event_path(@event) %> |
  <%= link_to "Voltar para Eventos", events_path %>

  <%= button_to "Excluir", @event, method: :delete, data: {turbo_confirm: "Excluir Evento. Tem certeza?"}, class:"btn - btn-danger" %> 
</div>
